.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}




.link-read-more {
	@include fontsans;
	font-weight: $font-weight-heavy;
}
a.link-read-more {
	color: $base-font-color;
	border-bottom-color:rgba(0,0,0,0.2);
}