// Work list

.work {

}

.work__item {
	display: block;
	&:nth-child(odd) {
		background-color:lighten(#999, 10%);
	}
}

.work__hook {
	height: 50vh;
	padding:0 15%;
	display:block;
}

.work__title {
	@include fontlg;
}