/* Variables */
/* ----------------------------------------------------------*/






@font-family-serif: 'Merriweather', georgia, times, serif;
@font-family-sans:  'Lato', Helvetica, Arial, sans-serif;

@link-color: #3188e1;
@base-color: #333;
@background-color: #efefef;