// Navigation


.nav-main {
  text-align: justify;
  @include fontsans;
  li {
    display: inline;
    &.nav-justify {
      display: inline-block;
      width: 100%;
      *display: inline;
      zoom: 1;
      height:1px;
    }
  }
}