.bar {
	display:inline-block;
	height:4px;
	background:$base-font-color;
	width:85px;
	margin-bottom:$small-spacing / 2;
	&.bar--full {
		width:100%;
	}
}





// Modifiers
.hero--bar {
	width:50%;
}

.branding--bar {
	margin-top:2em;
}

.work--bar {
	margin-top:3em;
}