.c-bar {
	display:inline-block;
	height:4px;
	background:$base-font-color;
	width:85px;
	margin-bottom:$small-spacing;
	&.c-bar--full {
		width:100%;
	}
}





// Modifiers
.c-hero--bar {
	width:50%;
}

.c-branding--bar {
	margin-top:2em;
}