// Main layout


.layout-main {
	background:#444;
	@include clearfix;
}

.layout-main__brand {
	width:28em;
	float:left;
	height:100vh;
	text-align: center;
	.branding {
	    margin: 0 auto;
	    width:70%;
	}
}

.layout-main__content {
	overflow:hidden;
	background:#999;
}