// Font sizes (30,24,18,14)
@mixin fontserif {
  font-family: $base-font-family;
}
@mixin fontsans {
  font-family: $heading-font-family;
}
@mixin fontxxl {
  font-size:1.875em;
}
@mixin fontxl {
  font-size:1.5em;
}
@mixin fontlg {
  font-size:1.125em;
}
@mixin fontmd {
	font-size:1em;  
}
@mixin fontsm {
  font-size: 0.875em;
}

.font-xxl {
	@include fontxxl;
}
.font-xl {
	@include fontxl;
}
.font-lg {
	@include fontlg;
}
.font-sm {
	@include fontsm;
}
.font-serif {
	@include fontserif;
}
.font-sans {
	@include fontsans;
}