.about {
	a {
    	color:$action-color;
    	border-bottom: 1px solid rgba(71,125,202,0.3);
    	padding-bottom: 2px;
    }
}

.about-general__title {
	@include fontxl;
}
.about-general__description {
}


.career-milestone__title {
	@include fontxxl;
	@include fontserif;
	margin-bottom:1em;
}
.career-milestone__role {
	@include fontlg;
	margin-bottom:0;
}
.career-milestone__company {
	@include fontsm;
	margin-bottom:2em;
	font-weight: 400;
	a {
		color: $base-font-color;
		border-bottom-color: rgba(0,0,0,0.2);
	}
}


.about-site {

}
.about-site__title {
	@include fontxl;
	@include fontserif;
}

