.branding {
	h1 {
		@include fontserif;
		@include fontxxl;
		margin-bottom:0;
	}	
	width: 60%;
    text-align: center;
    margin: 0 auto;

	.nav {
		margin:3.5em auto 0;
		padding:0 1em;
	}
	.bar {
		margin-top:2em;
	}
}

.bar {
	display:inline-block;
	height:4px;
	background:$base-font-color;
	width:85px;
	margin-bottom:$small-spacing;
	&.bar--full {
		width:100%;
	}
}