<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

{% include head.html %}

<body>

	<!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <section id="hero" class="hero">
		<header class="branding vertical-align">
            {% include header.html %}
            <span class="bar branding--bar hero--bar"></span>
            <p class="hero__description">{{ site.description }}</p>
            {% include navigation.html modifier="hero--nav" %}
        </header>
	</section>

	<section class="layout-main">
		<header class="layout-main__brand js-fixed-brand">
			<div class="branding vertical-align">
				{% include header.html %}
				<span class="bar bar--full branding--bar"></span>
	            {% include navigation.html %}
			</div>
		</header>
		<div class="layout-main__content">
			{{ content }}
		</div>
	</section>

	{% include footer.html %}

	{% include scripts.html %}

</body>
</html>