// Homepage layout


.content {
	background:#444;
	@include clearfix;
}

.content-brand {
	width:38%;
	float:left;
	height:100vh;
	text-align: center;
}
.brand {
    margin: 0 auto;
    width:70%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}



.content-main {
	overflow:hidden;
	background:#999;
	padding:15.25em 4.625em;
}