// Homepage layout


.content {
	background:#444;
	@include clearfix;
}

.content-aside {
	width:38%;
	float:left;
	height:100vh;
	text-align: center;
	.branding {
	    margin: 0 auto;
	    width:70%;
	}
}



.content-main {
	overflow:hidden;
	background:#999;
	padding:15.25em 4.625em;
}