.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  background: #44D7CC;
}

.svg {
  width: 100%;
  margin-top: -60px;
}

.text {
  text-anchor: middle;
}

.text__fill {
  fill: yellow;
}

.text__stroke {
  stroke: #333;
  fill: transparent;
  stroke-width: 1.75;
}

.sub-title {
  text-transform: uppercase;
}
