// Navigation

.nav {
  margin:3.5em auto 0;
  padding:0 1em;
  a {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom:3px;
  }
}

.nav__list {
  text-align: justify;
  @include fontsans;
  li {
    display: inline;
    &.nav--justify {
      display: inline-block;
      width: 100%;
      *display: inline;
      zoom: 1;
      height:1px;
    }
  }
}





// Modifiers

.hero--nav {
  width:50%;
}
