// Navigation

.c-nav {
  margin:3.5em auto 0;
  padding:0 1em;
}

.c-nav__list {
  text-align: justify;
  @include fontsans;
  li {
    display: inline;
    &.c-nav--justify {
      display: inline-block;
      width: 100%;
      *display: inline;
      zoom: 1;
      height:1px;
    }
  }
}





// Modifiers

.c-hero--nav {
  width:50%;
}
